// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Quicksand');
$font-header: 'Quicksand', sans-serif;
$font-text: 'Open Sans', sans-serif;
$font-size: 16px;
// Colors
$first_col: #236A62;
$second_col: #AA8639;
$third_col: #9F3548;
$pale_col: #FFFFFF;
$dark_col: #000000;

$background_col: #D3D7DB;
$background_col_secondary: #E3E3E3;

$button-life: 20px;
$border-radius: 10px;
$margin: 20px;
$button-height: 40px;
$button-width: 100px;

body {
  font-family: $font-text;
  margin: 20px 50px;
  padding: 0;
  background-color: $background_col;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
}

.title {
  flex-grow: 1;
  text-align: center;
  font-family: $font-header;
  color: $first_col;
}

hr {
  border-color: $first_col;
  margin: 0;
}

.menuBar {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;;
  align-content: center;
  margin-top: 25px;
}

.game {
  flex-grow: 3;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;;
  align-content: center;
  background-color: $third_col;
  margin: 25px;
  padding: 25px;
}

.lifeTable {
  flex-grow: 3;
  text-align: center;
}

.settings {
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: $background_col_secondary;
  padding: 15px 0;
  border-radius: $border-radius;
}

.timer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: $background_col_secondary;
  padding: 15px 0;
  border-radius: $border-radius;
  button {
    margin: 0 10px;
  }
  label {
    margin-bottom: 10px;
    color: $first_col;
  }
}

.counter {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

button {
  background-color: $first_col;
  color: $second_col;
  border: none;
  border-radius: $border-radius;
  font-size: $font-size;
  height: $button-height;
  width: $button-width;
}

button.square {
  margin: 3px;
}

button.square.one {
  height: $button-life;
  width: $button-life;
  border: none;
  background-color: $first_col;
  border-radius: $button-life / 2;
}

button.square.zero {
  height: $button-life;
  width: $button-life;
  border: none;
  background-color: $second_col;
  border-radius: $button-life / 2;
}

.settingDiv {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  label {
    color: $first_col;
    margin-bottom: 10px;
  }
}

select {
  height: $button-height;
  width: $button-width;
  font-size: $font-size;
  background-color: $second_col;
  color: $first_col;
  margin: 0 10px;
}

.generation {
  border: none;
  background-color: $third_col;
  color: $second_col;
  border-radius: $border-radius;
  font-size: $font-size;
  text-align: center;
  height: $button-height;
  width: $button-width;
  margin: 0 10px;
}

.text-right {
  text-align: right;
  color: $first_col;
}
